<div class="post">
  <h2 class="post-title"> <%= link_to (fa_icon 'refresh', :style => post.view_style), sync_post_path(post.id), :class => 'sync-link' %> <%= post.formatted_description %></h2>
  <div class="post-content">
    <%= link_to post.href, post.href, :target => '_blank' %>
    <p>Unread: <%= post.toread %></p>
  </div>
</div>
