// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
  margin: 0;

  .post-title {
    font-size: 1em;
    margin: 0 0 0.3em 0;
  }

  .post-content {
    font-size: 0.8em;
    line-height: 0.4em;
  }
}
